
<p>
    The <a href="http://lmf.googlecode.com">Linked Media Framework</a> (aka <em>LMF</em>) 
    is a server application that bundles central Semantic Web technologies to offer some 
    advanced services.
</p>

<p>
    This Drupal module provides some basic features to use LMF as backend in Drupal. Further details at
    <a href="http://code.google.com/p/lmf/wiki/DrupalModule">http://code.google.com/p/lmf/wiki/DrupalModule</a>.
</p>

<p>
    This project have been developed by <a href="http://www.salzburgresearch.at">Salzburg Research</a> 
    as part of Salzburg NewMediaLab – The Next Generation (<a href="http://www.newmedialab.at/">SNML-TNG</a>),
    a K-Project in the Austrian <a href="http://www.ffg.at/en/comet-competence-centers-excellent-technologies">COMET programme</a>;
    and the <a href="http://mytv.ipaustria.at">myTV</a> project, partially funded by the 
    Federal Ministry for Transport Innovation and Technology (<a href="http://www.bmvit.gv.at">BMVIT</a>)
    and the Austrian Research Promotion Agency (<a href="http://rp7.ffg.at/eip">FFG</a>).
</p>

