/**
 * Copyright (C) 2013 Salzburg Research.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/**
 *
 */

.ui-widget {
    font-size: 12px;
    font-family: Verdana,Arial,sans-serif;
}

.ui-dialog {
    padding: 0;
    margin-top: 0;
    border: 2px solid;
    border-top: 0;
}

.ui-dialog .ui-dialog-titlebar {
    border: 0; 
}

.ui-dialog .ui-widget-content {
    border: 0;
}


.ui-dialog .ui-dialog-content label .ui-icon {
    display: inline-block;

}