/**
 * Copyright (C) 2013 Salzburg Research.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#smallLoginForm {
    font-family: sans-serif;
    text-align: center;
    width: 170px;
    height: 40px;
    padding-top:7px;
    vertical-align: middle;
    background: #CCCCCC;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#smallLoginForm a {
    font-size: 18px;
    text-decoration: none;
    text-shadow: black 0.1em 0.1em 0.2em;
    font-weight: bold;
    color: #eeeeee;
}
#smallLoginForm a img {
    vertical-align: middle;
    border: 0px;
}