/**
 * Copyright (C) 2013 Salzburg Research.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

div#banner {
	margin-bottom: 15px;
}

div#breadcrumbs {
    width: auto;
    top: 10px;
    right: 10px;
    position: absolute;
}

a, a:active, a:visited {
    color: #CB1180;
}

div.sidebar-nav {
	background-color: #666666;
	font-weight: bold;
}

div.sidebar-nav a, div.sidebar-nav a:active, div.sidebar-nav a:visited {
    color: #ffffff;
    text-shadow: none;
}

div.sidebar-nav a:hover {
	color: #79B530;
}

.nav-list > .active > a, .nav-list > .active > a:hover {
	color: #ffffff;
    background-color: #79B530;
}
